.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.error  img {
    background-color: teal;
}
  
.error h1 {
    background-color: teal;
    font-size: 40px;
    text-shadow: rgb(235 195 195) 1px 0px 10px;
    font-weight: 700;
    margin: 0px 0px 50px 0px;
}
