.container {
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(182, 182, 182, 0.4)
    ),
    url("https://i.pinimg.com/564x/64/98/dd/6498dde899a37f2c401f6a2e558020f6.jpg");
    background-attachment: fixed;
    /* background-size: cover; */
    min-height: 100vh;
    padding-bottom: 40px;
}
